NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://TahseenAhmed:Tahseen786@ac-w2aoa8o-shard-00-00.jfa81hj.mongodb.net:27017,ac-w2aoa8o-shard-00-01.jfa81hj.mongodb.net:27017,ac-w2aoa8o-shard-00-02.jfa81hj.mongodb.net:27017/punjab_academy?ssl=true&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=acbc6bf80560471e3ec979167d179c27c71d9741b140fa1a26243b4e1aa3a2e6e38d1cd57b5e71c56a69ddf857f9f6cbcf4292d7c3bbef5c9e3eb3ed2ed33baa
ADMIN_EMAIL=admin@punjabacademy.com
ADMIN_PASSWORD=Admin@123